@-webkit-keyframes hide {
  0% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(0, 0);
    opacity: 0;
  }
}
*[data-animate=animate-hide] {
  -webkit-animation: hide 1s ease forwards;
  -webkit-transform-origin: left top;
}
@-webkit-keyframes show {
  100% {
    -webkit-transform: scale(1, 1);
    opacity: 1;
  }
  0% {
    -webkit-transform: scale(0, 0);
    opacity: 0;
  }
}
*[data-animate=animate-show] {
  -webkit-animation: show 1s ease forwards;
  -webkit-transform-origin: left top;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*[data-animate=animate-fadein] {
  -webkit-animation: fadein 1s ease forwards;
}
@-webkit-keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
*[data-animate=animate-fadeout] {
  -webkit-animation: fadeout 1s ease forwards;
}
@-webkit-keyframes slideup {
  0% {
    -webkit-transform: scaleY(1, 1);
  }
  100% {
    -webkit-transform: scaleY(0, 0);
  }
}
*[data-animate=animate-slideup] {
  -webkit-animation: slideup 1s ease forwards;
  -webkit-transform-origin: top;
}
@-webkit-keyframes slidedown {
  0% {
    -webkit-transform: scale(0, 0);
  }
  100% {
    -webkit-transform: scale(1, 1);
  }
}
*[data-animate=animate-slidedown] {
  -webkit-animation: slidedown 1s ease forwards;
  -webkit-transform-origin: top;
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: translate(30px, 0px);
  }
  2.77777778% {
    -webkit-transform: translate(29.54423259px, 5.20944533px);
  }
  5.55555556% {
    -webkit-transform: translate(28.19077862px, 10.2606043px);
  }
  8.33333333% {
    -webkit-transform: translate(25.98076211px, 15px);
  }
  11.11111111% {
    -webkit-transform: translate(22.98133329px, 19.28362829px);
  }
  13.88888889% {
    -webkit-transform: translate(19.28362829px, 22.98133329px);
  }
  16.66666667% {
    -webkit-transform: translate(15px, 25.98076211px);
  }
  19.44444444% {
    -webkit-transform: translate(10.2606043px, 28.19077862px);
  }
  22.22222222% {
    -webkit-transform: translate(5.20944533px, 29.54423259px);
  }
  25% {
    -webkit-transform: translate(0px, 30px);
  }
  27.77777778% {
    -webkit-transform: translate(-5.20944533px, 29.54423259px);
  }
  30.55555556% {
    -webkit-transform: translate(-10.2606043px, 28.19077862px);
  }
  33.33333333% {
    -webkit-transform: translate(-15px, 25.98076211px);
  }
  36.11111111% {
    -webkit-transform: translate(-19.28362829px, 22.98133329px);
  }
  38.88888889% {
    -webkit-transform: translate(-22.98133329px, 19.28362829px);
  }
  41.66666667% {
    -webkit-transform: translate(-25.98076211px, 15px);
  }
  44.44444444% {
    -webkit-transform: translate(-28.19077862px, 10.2606043px);
  }
  47.22222222% {
    -webkit-transform: translate(-29.54423259px, 5.20944533px);
  }
  50% {
    -webkit-transform: translate(-30px, 0px);
  }
  52.77777778% {
    -webkit-transform: translate(-29.54423259px, -5.20944533px);
  }
  55.55555556% {
    -webkit-transform: translate(-28.19077862px, -10.2606043px);
  }
  58.33333333% {
    -webkit-transform: translate(-25.98076211px, -15px);
  }
  61.11111111% {
    -webkit-transform: translate(-22.98133329px, -19.28362829px);
  }
  63.88888889% {
    -webkit-transform: translate(-19.28362829px, -22.98133329px);
  }
  66.66666667% {
    -webkit-transform: translate(-15px, -25.98076211px);
  }
  69.44444444% {
    -webkit-transform: translate(-10.2606043px, -28.19077862px);
  }
  72.22222222% {
    -webkit-transform: translate(-5.20944533px, -29.54423259px);
  }
  75% {
    -webkit-transform: translate(0px, -30px);
  }
  77.77777778% {
    -webkit-transform: translate(5.20944533px, -29.54423259px);
  }
  80.55555556% {
    -webkit-transform: translate(10.2606043px, -28.19077862px);
  }
  83.33333333% {
    -webkit-transform: translate(15px, -25.98076211px);
  }
  86.11111111% {
    -webkit-transform: translate(19.28362829px, -22.98133329px);
  }
  88.88888889% {
    -webkit-transform: translate(22.98133329px, -19.28362829px);
  }
  91.66666667% {
    -webkit-transform: translate(25.98076211px, -15px);
  }
  94.44444444% {
    -webkit-transform: translate(28.19077862px, -10.2606043px);
  }
  97.22222222% {
    -webkit-transform: translate(29.54423259px, -5.20944533px);
  }
  100% {
    -webkit-transform: translate(30px, 0px);
  }
}
*[data-animate=animate-round] {
  -webkit-animation: round 1s linear infinite;
}
@-webkit-keyframes quxian {
  0% {
    -webkit-transform: translate(30px, 0px);
  }
  2.77777778% {
    -webkit-transform: translate(29.54423259px, 5px);
  }
  5.55555556% {
    -webkit-transform: translate(28.19077862px, 8.66025404px);
  }
  8.33333333% {
    -webkit-transform: translate(25.98076211px, 10px);
  }
  11.11111111% {
    -webkit-transform: translate(22.98133329px, 8.66025404px);
  }
  13.88888889% {
    -webkit-transform: translate(19.28362829px, 5px);
  }
  16.66666667% {
    -webkit-transform: translate(15px, 0px);
  }
  19.44444444% {
    -webkit-transform: translate(10.2606043px, -5px);
  }
  22.22222222% {
    -webkit-transform: translate(5.20944533px, -8.66025404px);
  }
  25% {
    -webkit-transform: translate(0px, -10px);
  }
  27.77777778% {
    -webkit-transform: translate(-5.20944533px, -8.66025404px);
  }
  30.55555556% {
    -webkit-transform: translate(-10.2606043px, -5px);
  }
  33.33333333% {
    -webkit-transform: translate(-15px, 0px);
  }
  36.11111111% {
    -webkit-transform: translate(-19.28362829px, 5px);
  }
  38.88888889% {
    -webkit-transform: translate(-22.98133329px, 8.66025404px);
  }
  41.66666667% {
    -webkit-transform: translate(-25.98076211px, 10px);
  }
  44.44444444% {
    -webkit-transform: translate(-28.19077862px, 8.66025404px);
  }
  47.22222222% {
    -webkit-transform: translate(-29.54423259px, 5px);
  }
  50% {
    -webkit-transform: translate(-30px, 0px);
  }
  52.77777778% {
    -webkit-transform: translate(-29.54423259px, -5px);
  }
  55.55555556% {
    -webkit-transform: translate(-28.19077862px, -8.66025404px);
  }
  58.33333333% {
    -webkit-transform: translate(-25.98076211px, -10px);
  }
  61.11111111% {
    -webkit-transform: translate(-22.98133329px, -8.66025404px);
  }
  63.88888889% {
    -webkit-transform: translate(-19.28362829px, -5px);
  }
  66.66666667% {
    -webkit-transform: translate(-15px, 0px);
  }
  69.44444444% {
    -webkit-transform: translate(-10.2606043px, 5px);
  }
  72.22222222% {
    -webkit-transform: translate(-5.20944533px, 8.66025404px);
  }
  75% {
    -webkit-transform: translate(0px, 10px);
  }
  77.77777778% {
    -webkit-transform: translate(5.20944533px, 8.66025404px);
  }
  80.55555556% {
    -webkit-transform: translate(10.2606043px, 5px);
  }
  83.33333333% {
    -webkit-transform: translate(15px, 0px);
  }
  86.11111111% {
    -webkit-transform: translate(19.28362829px, -5px);
  }
  88.88888889% {
    -webkit-transform: translate(22.98133329px, -8.66025404px);
  }
  91.66666667% {
    -webkit-transform: translate(25.98076211px, -10px);
  }
  94.44444444% {
    -webkit-transform: translate(28.19077862px, -8.66025404px);
  }
  97.22222222% {
    -webkit-transform: translate(29.54423259px, -5px);
  }
  100% {
    -webkit-transform: translate(30px, 0px);
  }
}
*[data-animate=animate-quxian] {
  -webkit-animation: quxian 1s linear infinite;
}
@-webkit-keyframes xuanzhuan {
  100% {
    -webkit-transform: rotateZ(360deg);
  }
}
*[data-animate=animate-xuanzhuan] {
  -webkit-animation: xuanzhuan 1s linear infinite;
}
@-webkit-keyframes sd {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
*[data-animate=animate-sd] {
  -webkit-animation: opacity 1s linear alternate 3 forwards;
}
